.contact{
    margin-top: 40px;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: space-around;
    padding: 20px;
    margin-top: 50px;
}
.contact-address{
    display: flex;
    flex-direction: column;
}
.contact-address img{
    width: 100%;
}
.contact-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 20px;
    padding: 10px;
    
}
.contact a{
    text-decoration: none;
    color: #333;
    font-size: 1.3em;
    display: flex;
    gap: 10px;
    align-items: center;
    

}
.contact-location iframe{
    outline: none;
    border: none;
    width: 600px;
    height: 400px;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;

}
.links{
    display: flex;
    gap: 20px;
    padding-bottom: 20px;
}
@media(max-width:1050px){
    .contact{
        flex-direction: column;
    
    }
    .contact-content{
        width: 100%;
    }


}
@media(max-width:700px){

    .contact-location iframe{
        width: 300px;
        height: 200px;
    }


}