.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
    
    

}
.services-title{
    text-align: center;
    margin-top: 20px;
  

}
.services-title h2{
    font-size: 3em;
    line-height:80px;
    color: #0D515A;

  
}
.services-title p{
    font-size: 1.2em;
    opacity: 0.8;
    font-style: italic;
    color: #0D515A;

}
.services-cards{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.8s ease;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.service-card{
    max-width: 900px;
    width: 100%;
    position: relative;

}
.service-card-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: 50;
   
}
.service-card-content p{
    width: 900px;
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    color: #0D515A;
    line-height: 50px;
    padding: 10px;

}

.service-card-poster img{
    width:100%;
    height: 500px;
    object-fit: cover;
    /* filter: blur(6px); */
    border-radius: 12px;
    opacity: 0.3;
}

@media(max-width:700px){
    .service-card-content p{
        width: 500px;
        font-size: 1em;
        line-height: 35px;
    }
}
@media(max-width:500px){
    .service-card-content p{
        width: 400px;
        font-size: 1em;
        line-height: 35px;
    }
}