.service{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 100%;
}
.services-title{
    text-align: center;
    margin-top: 20px;
    
}
.services-title h2{
    font-size: 3em;
    line-height:80px;
    color: #0D515A;

  
}
.services-title p{
    font-size: 1.2em;
    opacity: 0.8;
    font-style: italic;
    color: #0D515A;

}
.services-cards{
    display: flex;
    flex-wrap: wrap;
    transition: all 0.8s ease;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 20px;
    margin-top: 40px;
}
.service-card{
    max-width: 900px;
    width: 100%;
    position: relative;

}
.service-card-content{
    position: absolute;
    z-index: 50;
    width: 100%;
   
   
   
}
.service-card-content p{
    text-align: center;
    font-size: 1.6em;
    font-weight: 700;
    color: #0D515A;
    line-height: 50px;
    padding: 10px;
    height:500px;
    display: flex;
    align-items: center;
    justify-content: center;

}

.service-card-poster img{
    width:100%;
    height: 500px;
    object-fit: cover;
    border-radius: 12px;
    opacity: 0.3;

}

@media(max-width:1050px){
    .services-title h2{
        font-size: 2em;
        line-height: 50px;
    }
    .services-title p{
        font-size: 1em;
    }
    .service-card-content p{
        font-size: 1.2em;
        line-height: 50px;

    }



}
@media(max-width:800px){
    .service-card-content p{
        font-size: 1.2em;
        line-height: 30px;
    
    }

}